<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Work</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab">

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Angular Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <!-- Font Awesome Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>

    <script>
        var module = angular.module("myModule", []);
        var controller = module.controller("myController", function ($scope, $http) {
            $scope.respJsonAry = [];
            $scope.selObj;
            $scope.respCustomerAry = [];
            $scope.selImage;
            $scope.detailsAry = [];

            $scope.doFetch = function () {
                let url = "/doFetchTasks";

                $http.get(url).then(success, errors);

                function success(resp) {
                    $scope.respJsonAry = resp.data;
                }

                function errors(resp) {
                    alert(resp.data);
                }
            }

            //==========================================

            $scope.doFetchDistinctCities = function () {
                let url = "/fetch-distinct-cities";
                $http.get(url).then(success, errors);
                function success(response) {
                    $scope.jsonCityAry = response.data;
                }
                function errors(response) {
                    alert(response.data);
                }
            }
            //============================================================
            $scope.doFetchDistinctCategory = function () {

                let url = "/fetch-distinct-category?kuchCity=" + $scope.selCity.city;
                $http.get(url).then(success, errors);
                function success(response) {
                    $scope.jsonCategoryAry = response.data;
                    //alert(JSON.stringify($scope.jsonCategoryAry));
                }
                function errors(response) {
                    alert(response.data);
                }

            }
            //=================================================================================
            $scope.doShowSelCategory = function () {

                let url = "/search-work?kuchCat=" + $scope.selCategory.category + "&kuchCity=" + $scope.selCity.city;

                $http.get(url).then(success, errors);
                function success(response) {
                    $scope.respJsonAry = response.data;
                }
                function errors(response) {
                    alert(response.data);
                }
            }
            //================================================================================

            // $scope.doFetchCat = function(email){

            // }

            $scope.doShowDetails = function (index, email) {
                // alert();
                console.log(index + " " + email);
                //alert(JSON.stringify($scope.jsonRecordsAry[index]));
                $scope.selObj = $scope.respJsonAry[index];

                let url = "/doFetchCat?kuchEmail=" + email;

                $http.get(url).then(success, errors)
                function success(resp) {
                    // console.log("pehla vapis aagya");
                    $scope.cat = resp.data;

                    $scope.doFetchDetails(email,$scope.cat);

                }
                function errors(resp) {
                    alert(resp.data);
                }

                // $scope.detailsAry=doFetchDetails(email,$scope.cat);

            }



            $scope.doFetchDetails = function (email, cat) {
                console.log("in do Fectch details")
                let url2 = "/doFetchDetails?kuchEmail=" + email + "&kuchCat=" + cat;

                $http.get(url2).then(success, errors)

                function success(resp) {
                    // console.log("doosra vapis aagya")
                    $scope.detailsAry = resp.data;
                }
                function errors(resp) {
                    alert(resp.data);
                }
            }

            //============================================================================
            $scope.doFetchUsers = function () {
                let url = "/doFetchUsers";

                $http.get(url).then(success, errors);

                function success(resp) {
                    // console.log(resp.data);
                    $scope.respCustomerAry = resp.data;
                }

                function errors(resp) {
                    alert(resp.data);
                }
            }
            //===============================================================================
            // $scope.doFetchImages = function (email) {
            //     let url = "/previewProfile?kuchEmail=" + email;
            //     $http.get(url).then(success, errors);

            //     function success(resp) {
            //         console.log("image aagyi");
            //         $scope.selImg = resp.data;
            //     }

            //     function errors(resp) {
            //         alert(resp.data);
            //     }
            // }
        });
    </script>

    <style>
        body {
            font-family: 'Roboto Slab', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            margin-top: 30px;
            padding: 20px;

        }

        .form-floating {
            margin-bottom: 15px;
        }

        .work-area {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 20px;
        }

        .card {
            width: 30rem;
            margin: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
            display: flexbox;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

        }

        .card:hover {
            transform: scale(1.05);
        }

        .card-img-top {
            max-height: 200px;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-body {
            text-align: left;
            display: flexbox;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        #btnSearch {
            background-color: #004aad;
            line-height: 2.5rem;
            border-radius: 10px;
            width: 10rem;
            font-size: large;
        }

        .nav-item {
            font-size: large;
            font-weight: bold;
        }

        .nav-link {
            color: #fff;
        }

        .nav-link:hover {
            color: #459af4;
        }

        .sp {
            /* text-decoration: underline; */
            /* font-size: large; */
            color: #004aad;
        }

        .ms{
            color: #004aad;
            size: large;
        }
        .modal-content {
            border-radius: 10px;
        }

        .modal-header {
            background-color: #004aad;
            color: #fff;
            border-bottom: 2px solid #0056b3;
        }

        .modal-title {
            font-size: 2rem;
            font-family: Roboto Slab;
        }
    </style>
    <link rel="icon" type="png" href="/assets/projectLogo2.png">
</head>

<body ng-app="myModule" ng-controller="myController" ng-init="doFetchDistinctCities();doFetchUsers()">
    <nav class="navbar navbar-expand-lg py-0" style="background-color: #004aad">
        <div class="container-fluid">
            <a class="navbar-brand" href="provider-dash.html">
                <img src="/assets/Full logo.png" alt="Logo" height="50" class="d-inline-block align-text-top" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="provider-dash.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/provider-profile.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/find-work.html">Find Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/task-manager-provider.html">Task Manager</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/provider-contactUs.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mt-4">
        <center>
            <img src="/assets/findWork.png" width="300rem" alt="">
        </center>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="selCity" ng-options="obj.city  for obj in jsonCityAry"
                        ng-model="selCity" ng-change="doFetchDistinctCategory();">
                        <option value="" disabled>Select</option>
                    </select>
                    <label for="selCity">City</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="selCategory" ng-options="obj.category  for obj in jsonCategoryAry"
                        ng-model="selCategory" ng-change="">
                        <option value="">Select</option>
                    </select>
                    <label for="selCategory">Category</label>
                </div>
            </div>
            <div class="col-md-3">
                <button type=" button" class="btn btn-primary" id="btnSearch"
                    style="line-height: 2.5rem; border-radius: 10px;"
                    ng-click="doShowSelCategory(); doFetchImages()">Search
                    Now</button>
            </div>
        </div>
        <!--work cards -->
        <div class="work-area">
            <div class="row">
                <div class="card" ng-repeat="obj in respJsonAry" data-bs-toggle="modal" data-bs-target="#detailsModal"
                    ng-click="doShowDetails($index,obj.emailid)">
                    <div class="card-body text-left">
                        <h4 class="card-title">{{obj.category}}</h4>
                        <p class="card-text">
                            <!-- <div>{{$index}}</div> -->
                        <div>
                            <h5><span class="sp">Email Id: </span>{{obj.emailid}}</h5>
                        </div>
                        <!-- <div>
                            <h5><span class="sp">Address: </span>{{obj.address}}</h5>
                        </div> -->
                        <div>
                            <h5><span class="sp">City: </span>{{obj.city}}</h5>
                        </div>
                        <div>
                            <h5><span class="sp">Upto: </span>{{obj.upto}}</h5>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title fs-5" id="detailsModalLabel">Details</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <center>
                            <img src="/uploads/{{detailsAry[0].ppic}}" height="120px" alt="nopic">
                        </center>
                    </p>
                    <p>
                        <span class="ms">Email Id: </span>{{selObj.emailid}}
                    </p>
                    <p>
                        <span class="ms">Category: </span> {{selObj.category}}
                    </p>
                    <p>
                        <span class="ms">Contact Number: </span> {{detailsAry[0].cnumber}}
                    </p>
                    <p>
                        <span class="ms">Address: </span>{{selObj.address}}
                    </p>
                    <p>
                        <span class="ms">City: </span>{{selObj.city}}   &nbsp;&nbsp;&nbsp;  <span class="ms"> State: </span>{{selObj.state}}
                    </p>
                    <p>
                        <span class="ms">Upto: </span>{{selObj.upto}}
                    </p>
                    <p>
                        <span class="ms">Description: </span>{{selObj.otherinfo}}
                    </p>

                </div>
                
            </div>
        </div>
    </div>
</body>

</html>