<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Work</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab">

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Angular Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <!-- Font Awesome Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>

    <script>
        var module = angular.module("myModule", []);
        var controller = module.controller("myController", function ($scope, $http) {
            $scope.respJsonAry = [];
            $scope.selObj;
            $scope.respCustomerAry=[];
            $scope.selImage;

            $scope.doFetch = function () {
                let url = "/doFetchTasks";

                $http.get(url).then(success, errors);

                function success(resp) {
                    $scope.respJsonAry = resp.data;
                }

                function errors(resp) {
                    alert(resp.data);
                }
            }

            //==========================================

            $scope.doFetchDistinctCities = function () {
                let url = "/fetch-distinct-cities";
                $http.get(url).then(success, errors);
                function success(response) {
                    $scope.jsonCityAry = response.data;
                }
                function errors(response) {
                    alert(response.data);
                }
            }
            //============================================================
            $scope.doFetchDistinctCategory = function () {

                let url = "/fetch-distinct-category?kuchCity=" + $scope.selCity.city;
                $http.get(url).then(success, errors);
                function success(response) {
                    $scope.jsonCategoryAry = response.data;
                    //alert(JSON.stringify($scope.jsonCategoryAry));
                }
                function errors(response) {
                    alert(response.data);
                }

            }
//=================================================================================
            $scope.doShowSelCategory = function () {

                let url = "/search-work?kuchCat=" + $scope.selCategory.category + "&kuchCity=" + $scope.selCity.city;

                $http.get(url).then(success, errors);
                function success(response) {
                    $scope.respJsonAry = response.data;
                }
                function errors(response) {
                    alert(response.data);
                }
            }
//================================================================================
            $scope.doShowDetails = function (index) {
                // alert(index);
                //alert(JSON.stringify($scope.jsonRecordsAry[index]));
                $scope.selObj = $scope.respJsonAry[index];

            }
//============================================================================
            $scope.doFetchUsers= function(){
                let url = "/doFetchUsers";

                $http.get(url).then(success, errors);

                function success(resp) {
                    $scope.respCustomerAry = resp.data;
                }

                function errors(resp) {
                    alert(resp.data);
                }
            }
//===============================================================================
            $scope.doFetchImages= function(email){
                let url="/doFetchImg?kuchEmail="+email;
                $http.get(url).then(success, errors);

                function success(resp) {
                    $scope.selImg = resp.data;
                }

                function errors(resp) {
                    alert(resp.data);
                }
            }
        });
    </script>

    <style>
        body {
            font-family: 'Roboto Slab', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            margin-top: 30px;
            padding: 20px;

        }

        .form-floating {
            margin-bottom: 15px;
        }

        .work-area {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin-top: 20px;
        }

        .card {
            width: 32rem;
            margin: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s;
            display: flexbox;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

        }

        .card:hover {
            transform: scale(1.05);
        }

        .card-img-top {
            max-height: 200px;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .card-body {
            text-align: center;
            display: flexbox;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        #btnSearch {
            line-height: 2.5rem;
            border-radius: 10px;
        }
    </style>
</head>

<body ng-app="myModule" ng-controller="myController" ng-init="doFetchDistinctCities();doFetchUsers()">
    <center>
        <h2>Find Work</h2>
    </center>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="selCity" ng-options="obj.city  for obj in jsonCityAry"
                        ng-model="selCity" ng-change="doFetchDistinctCategory();">
                        <option value="" disabled>Select</option>
                    </select>
                    <label for="selCity">City</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" id="selCategory" ng-options="obj.category  for obj in jsonCategoryAry"
                        ng-model="selCategory" ng-change="">
                        <option value="">Select</option>
                    </select>
                    <label for="selCategory">Category</label>
                </div>
            </div>
            <div class="col-md-3" ">
                <button type=" button" class="btn btn-primary" id="btnSearch" style="line-height: 2.5rem; border-radius: 10px;"
                ng-click="doShowSelCategory(); doFetchImages()">Search Now</button>
            </div>
        </div>
        <!--work cards -->
        <div class="work-area">
            <div class="row">
                <div class="card" ng-repeat="obj in respJsonAry" data-bs-toggle="modal" data-bs-target="#detailsModal" ng-click="doShowDetails($index)">
                    <div class="card-photo">
                        <img src="uploads/{{selImg.ppic}}" class="card-img-top" alt="image here" style="width: 10rem;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{obj.emailid}}</h5>
                        <p class="card-text">
                            <!-- <div>{{$index}}</div> -->
                        <div>Category:{{obj.category}}</div>
                        <div>City:{{obj.city}}</div>
                        <div>Upto:{{obj.upto}}</div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="modal-title fs-5" id="detailsModalLabel">Details</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    <center>
                    <img src="uploads/{{selImg.ppic}}" width="120px" height="120px" alt="">
                </center>
                </p>
                <p>
                    Email Id: {{selObj.emailid}}
                </p>
                <p>
                    Category: {{selObj.category}}
                </p>
                <p>
                    Address: {{selObj.address}}
                </p>
                <p>
                    Upto: {{selObj.upto}}
                </p>
                <p>
                    Description: {{selObj.info}}
                </p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
</body>

</html>