<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-UserManager</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Slab">

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- JQUERY -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Angular Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <!-- Font Awesome Icons -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js"></script>

    <script>
        var module = angular.module("myModule", []);
        var controller = module.controller("myController", function ($scope, $http) {


            $scope.respJsonAry = [];
            $scope.doFetch = function () {
                let url = "/doFetchUsers";

                $http.get(url).then(success, errors);

                function success(resp) {
                    $scope.respJsonAry = resp.data;
                }

                function errors(resp) {
                    alert(resp.data);
                }
            }

            $scope.doBlock = function (selEmailId, btnBlock) {
                let url = "/do-block-Admin?kuchEmail=" + selEmailId;

                $http.get(url).then(success, error);

                function success(resp) {
                    alert(resp.data);
                    $scope.doFetch();
                }

                function error(resp) {
                    alert(resp.data)
                }
            }
        })
    </script>
    <style>
        body {
            font-family: 'Roboto Slab', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        table {
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
            background-color: #ffffff;
        }

        th,
        td {
            text-align: center;
            
            vertical-align: middle;
        }


        input[type="button"] {
            padding: 8px 12px;
            font-size: 14px;
            color: #ffffff;
            background-color: #dc3545;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        #btnUnblock{
            background-color: #33b249;
        }
        #btnUnblock:hover{
            background-color: #288938;
        }
        h2 {
            color: #2a7ab0;
            /* margin-top: 1rem; */
        }

        input[type="button"]:hover {
            background-color: #bd2130;
        }
    </style>
</head>

<body ng-app="myModule" ng-controller="myController" ng-init="doFetch()">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="admin-dash.html">
                <img src="/images/projectLogo.png" alt="Logo" width="30" height="30"
                    class="d-inline-block align-text-top">
                <span style="color:#0072a9">Maid </span><span style="color:#01a2e9">for </span><span
                    style="color:#0072a9">Each Other</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <br>
    <div class="row-mt-4">
        <center>
            <h2>User-Manager</h2>
        </center>
    </div>
    <div class="table-responsive">
    <center>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="background-color: #2a7ab0; color: white;">#</th>
                    <th scope="col" style="background-color: #2a7ab0; color: white;">Email Id</th>
                    <th scope="col" style="background-color: #2a7ab0; color: white;">PassWord</th>
                    <th scope="col" style="background-color: #2a7ab0; color: white;">User-Type</th>
                    <th scope="col" style="background-color: #2a7ab0; color: white;">Date of SignUp</th>
                    <th scope="col" style="background-color: #2a7ab0; color: white;">User Status</th>
                    <th scope="col" style="background-color: #2a7ab0; color: white;">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in respJsonAry">
                    <th>{{$index+1}}</th>
                    <td>{{obj.emailId}}</td>
                    <td>{{obj.pwd}}</td>
                    <td>{{obj.userType}}</td>
                    <td>{{obj.dos}}</td>
                    <td>{{obj.userStatus}}</td>
                    <th>
                        <input type="button" ng-if="obj.userStatus===1" value="Block" ng-click="doBlock(obj.emailId)">
                        <input type="button" ng-if="obj.userStatus===0" value="UnBlock"
                         id="btnUnblock"
                            ng-click="doBlock(obj.emailId)">
                    </th>

                </tr>
            </tbody>
        </table>
    </center>
    </div>
</body>

</html>